<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IijaraMessagingGateway" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.0.230/ijaraMessagingGateway.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IijaraMessagingGateway"
        contract="ServiceReference1.IijaraMessagingGateway" name="BasicHttpBinding_IijaraMessagingGateway" />
    </client>
  </system.serviceModel>
</configuration>